/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }

  /* Parallax Sections */
.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.pimg1 {
  background-image: url('Images/paralax1.jpg');
}

.pimg2 {
  background-image: url('Images/paralax2.jpg');
}

.ptext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.ptext .border {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
}

.light-mode {
  color: #fff;
}

.dark-mode {
  color: #fff;
}

.section-dark {
  padding: 50px;
  background-color: #333;
  color: white;
  text-align: center;
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #f2f2f2;
}

.btn:hover {
  background-color: #555;
}
 
  .gallery {
    display: inline-block;
    margin: 20px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input, form textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  .instagram-embed {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  